#!/bin/bash
# To install, copy this file to /etc/systemd/system/
# Then run: sudo systemctl daemon-reload
# sudo systemctl start highmem_test
# sudo systemctl status highmem_test
[Unit]
Description=High memory test

[Service]
Environment="MALLOC_MMAP_THRESHOLD_=1048576"
Environment="DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1"
Type=simple
RemainAfterExit=no
ExecStart=/home/ubuntu/highmem_test/bin/Release/linux-x64/publish/
WorkingDirectory=/home/ubuntu/highmem_test
KillMode=process
Restart=on-failure
RestartSec=15min

[Install]
WantedBy=multi-user.target
